In [44]:
import webbrowser
webbrowser.open("https://towardsdatascience.com/exploring-a-data-set-with-simple-pandas-and-plot-visualizations-features-73901ee76c6c")

True

In [17]:
import pandas as pd

In [18]:
world = pd.read_csv('Tennis_World_Number_1s.csv')

In [19]:
world

,Tennis_Player,Total_Weeks_at_No_1,Maximum_Consectutive_Weeks_at_no_1,Years_End_no_1,Careers_Wins_Losses,Titles,Prize_Money,Unnamed: 7
0,Roger Federer,310,237,5,1222-265,102,126266005,NaN
1,Pete Sampras,286,102,6,762-222,64,43280489,NaN
2,Ivan Lendl,270,157,4,1068-242,94,21262417,NaN
3,Jimmy Connors,268,160,5,1274-282,109,8641040,NaN
4,Novak Djokovic,264,122,5,871-182,75,134684000,NaN
5,Rafael Nadal,196,56,4,960-196,83,111328858,NaN
6,John McEnroe,170,58,4,881-198,77,12552132,NaN
7,Bjorn Borg,109,46,2,644-135,64,3655751,NaN
8,Andre Agassi,101,52,1,870-274,60,31152975,NaN
9,Lleyton Hewitt,80,75,2,616-262,30,20879934,NaN
10,Stefan Edberg,72,24,2,801-270,41,20630941,NaN
11,Jim Courier,58,27,1,506-237,23,14034132,NaN
12,Gustavo Kuerten,43,30,1,358-195,20,14807000,NaN
13,Andy Murray,41,41,1,663-191,45,61217017,NaN
14,Ilie Nastase,40,40,1,858-320,59,2076761,NaN
15,Mats Wilander,20,20,1,571-222,33,7956101,NaN
16,Andy Roddick,13,13,1,612-213,32,20640030,NaN
17,Boris Becker,12,9,0,713-214,49,25080956,NaN
18,Marat Safin,9,4,0,422-267,15,14373291,NaN
19,Juan Carlos Ferrero,8,8,0,479-262,16,13998165,NaN
20,John Newcombe,8,8,0,552-198,35,1062408,NaN
21,Yevgeny Kafelnikov,6,6,0,609-306,26,23883797,NaN
22,Thomas Muster,6,5,0,625-273,44,12266977,NaN
23,Marcelo Rios,6,4,0,391-192,18,9713771,NaN
24,Carlos Moya,2,2,0,575-319,20,13443970,NaN
25,Patrick Rafter,1,1,0,358-191,11,11133128,NaN

In [20]:
world.drop('Unnamed: 7',axis=1,inplace=True)

In [21]:
world.columns

Index(['Tennis_Player', 'Total_Weeks_at_No_1',
       'Maximum_Consectutive_Weeks_at_no_1', 'Years_End_no_1',
       'Careers_Wins_Losses', 'Titles', 'Prize_Money'],
      dtype='object')

In [22]:
world.shape

(26, 7)

In [23]:
world.isna().sum()

Tennis_Player                         0
Total_Weeks_at_No_1                   0
Maximum_Consectutive_Weeks_at_no_1    0
Years_End_no_1                        0
Careers_Wins_Losses                   0
Titles                                0
Prize_Money                           0
dtype: int64

In [24]:
world.dtypes

Tennis_Player                         object
Total_Weeks_at_No_1                    int64
Maximum_Consectutive_Weeks_at_no_1     int64
Years_End_no_1                         int64
Careers_Wins_Losses                   object
Titles                                 int64
Prize_Money                            int64
dtype: object

In [26]:
world[['Career_Wins','Career_Losses']]=world.Careers_Wins_Losses.str.split('-',expand=True).astype(float)

In [29]:
world.dtypes

Tennis_Player                          object
Total_Weeks_at_No_1                     int64
Maximum_Consectutive_Weeks_at_no_1      int64
Years_End_no_1                          int64
Careers_Wins_Losses                    object
Titles                                  int64
Prize_Money                             int64
Career_Wins                           float64
Career_Losses                         float64
dtype: object

In [30]:
world[['Tennis_Player','Career_Wins','Career_Losses','Careers_Wins_Losses']].head()

    Tennis_Player  Career_Wins  Career_Losses Careers_Wins_Losses
0   Roger Federer       1222.0          265.0            1222-265
1    Pete Sampras        762.0          222.0             762-222
2      Ivan Lendl       1068.0          242.0            1068-242
3   Jimmy Connors       1274.0          282.0            1274-282
4  Novak Djokovic        871.0          182.0             871-182

In [32]:
world['Total_Professional_Matches']=world.Career_Wins + world.Career_Losses
world['Total_Win_Percentage']=(world.Career_Wins / world.Total_Professional_Matches) * 100
world[['Tennis_Player','Total_Professional_Matches','Total_Win_Percentage']].sort_values('Total_Win_Percentage',ascending=False).head(10)

     Tennis_Player  Total_Professional_Matches  Total_Win_Percentage
5     Rafael Nadal                      1156.0             83.044983
4   Novak Djokovic                      1053.0             82.716049
7       Bjorn Borg                       779.0             82.670090
0    Roger Federer                      1487.0             82.178884
3    Jimmy Connors                      1556.0             81.876607
6     John McEnroe                      1079.0             81.649676
2       Ivan Lendl                      1310.0             81.526718
13     Andy Murray                       854.0             77.634660
1     Pete Sampras                       984.0             77.439024
17    Boris Becker                       927.0             76.914779

In [36]:
world[['Tennis_Player','Years_End_no_1','Total_Win_Percentage']].sort_values(['Years_End_no_1','Total_Win_Percentage'],ascending=False).head(10)

     Tennis_Player  Years_End_no_1  Total_Win_Percentage
1     Pete Sampras               6             77.439024
4   Novak Djokovic               5             82.716049
0    Roger Federer               5             82.178884
3    Jimmy Connors               5             81.876607
5     Rafael Nadal               4             83.044983
6     John McEnroe               4             81.649676
2       Ivan Lendl               4             81.526718
7       Bjorn Borg               2             82.670090
10   Stefan Edberg               2             74.789916
9   Lleyton Hewitt               2             70.159453

In [39]:
world.sort_values(['Prize_Money'],ascending=False)

,Tennis_Player,Total_Weeks_at_No_1,Maximum_Consectutive_Weeks_at_no_1,Years_End_no_1,Careers_Wins_Losses,Titles,Prize_Money,Career_Wins,Career_Losses,Total_Professional_Matches,Total_Win_Percentage
4,Novak Djokovic,264,122,5,871-182,75,134684000,871.0,182.0,1053.0,82.716049
0,Roger Federer,310,237,5,1222-265,102,126266005,1222.0,265.0,1487.0,82.178884
5,Rafael Nadal,196,56,4,960-196,83,111328858,960.0,196.0,1156.0,83.044983
13,Andy Murray,41,41,1,663-191,45,61217017,663.0,191.0,854.0,77.634660
1,Pete Sampras,286,102,6,762-222,64,43280489,762.0,222.0,984.0,77.439024
8,Andre Agassi,101,52,1,870-274,60,31152975,870.0,274.0,1144.0,76.048951
17,Boris Becker,12,9,0,713-214,49,25080956,713.0,214.0,927.0,76.914779
21,Yevgeny Kafelnikov,6,6,0,609-306,26,23883797,609.0,306.0,915.0,66.557377
2,Ivan Lendl,270,157,4,1068-242,94,21262417,1068.0,242.0,1310.0,81.526718
9,Lleyton Hewitt,80,75,2,616-262,30,20879934,616.0,262.0,878.0,70.159453
16,Andy Roddick,13,13,1,612-213,32,20640030,612.0,213.0,825.0,74.181818
10,Stefan Edberg,72,24,2,801-270,41,20630941,801.0,270.0,1071.0,74.789916
12,Gustavo Kuerten,43,30,1,358-195,20,14807000,358.0,195.0,553.0,64.737794
18,Marat Safin,9,4,0,422-267,15,14373291,422.0,267.0,689.0,61.248186
11,Jim Courier,58,27,1,506-237,23,14034132,506.0,237.0,743.0,68.102288
19,Juan Carlos Ferrero,8,8,0,479-262,16,13998165,479.0,262.0,741.0,64.642375
24,Carlos Moya,2,2,0,575-319,20,13443970,575.0,319.0,894.0,64.317673
6,John McEnroe,170,58,4,881-198,77,12552132,881.0,198.0,1079.0,81.649676
22,Thomas Muster,6,5,0,625-273,44,12266977,625.0,273.0,898.0,69.599109
25,Patrick Rafter,1,1,0,358-191,11,11133128,358.0,191.0,549.0,65.209472
23,Marcelo Rios,6,4,0,391-192,18,9713771,391.0,192.0,583.0,67.066895
3,Jimmy Connors,268,160,5,1274-282,109,8641040,1274.0,282.0,1556.0,81.876607
15,Mats Wilander,20,20,1,571-222,33,7956101,571.0,222.0,793.0,72.005044
7,Bjorn Borg,109,46,2,644-135,64,3655751,644.0,135.0,779.0,82.670090
14,Ilie Nastase,40,40,1,858-320,59,2076761,858.0,320.0,1178.0,72.835314
20,John Newcombe,8,8,0,552-198,35,1062408,552.0,198.0,750.0,73.600000

In [43]:
Tennis_Win_Perc = world.sort_values('Total_Win_Percentage', ascending = False)
Tennis_Win_Perc['Percent_Diff']=Tennis_Win_Perc.Total_Win_Percentage.pct_change()*100
Tennis_Win_Perc['Percent_Diff']=Tennis_Win_Perc.Percent_Diff.fillna(0)
Tennis_Win_Perc[['Tennis_Player','Total_Win_Percentage','Percent_Diff']].head(10)

     Tennis_Player  Total_Win_Percentage  Percent_Diff
5     Rafael Nadal             83.044983      0.000000
4   Novak Djokovic             82.716049     -0.396091
7       Bjorn Borg             82.670090     -0.055563
0    Roger Federer             82.178884     -0.594176
3    Jimmy Connors             81.876607     -0.367828
6     John McEnroe             81.649676     -0.277162
2       Ivan Lendl             81.526718     -0.150592
13     Andy Murray             77.634660     -4.773965
1     Pete Sampras             77.439024     -0.251996
17    Boris Becker             76.914779     -0.676978